
/*-------------------------
   banner Styles
-------------------------*/


.umart-banner{
    background-image: url("../media/banner-pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .banner-wrap{
        padding: 346px 0 317px;
        .bannerpic-text{
            .some-text{
                color: var(--color-primary);
                font-weight: 400;
            }
            .banner-title{
                color: var(--color-primary);
                font-weight: 700;
                margin: 0 0 30px 0;
            }
        }
        .shop-button{
            a{
                position: relative;
                overflow: hidden;
                padding: 16px 32px;
                width: 180px;
                background-color: var(--color-soft-peach);
                transition: var(--transition);
                transform: scale(1);
                display: flex;
                gap: 10px;
                
                &:hover{
                transform: scale(1.1); 
                }
                i{
                    font-size: 24px;
                    color: var(--color-primary);
                }
                .btn-text{
                    color: var(--color-primary);
                }
            }
        }
    }
}


