/*-------------------------
   Footer Styles
-------------------------*/


.umart-footer{
    padding: 48px 110px 48px 156px;
    background-color: var(--color-primary);
    .footer-wrap{
        display: flex;
        justify-content: space-between;
        .footer-icon-wrap{
            >ul{
                gap: 40px;
                display: flex;
                >li{
                    display: flex;
                    transition: var(--transition);
                    color: var(--color-secondary);
                    &:hover {
                        color: var(--color-hover);
                    }
                    .add-style{
                        transition: var(--transition);
                         color: var(--color-secondary);
                        >i{
                            font-size: 24px;
                        }
                        &:hover {
                            color: var(--color-hover);
                        }
                    }
                }
            }
        }
        .social-media-icon-wrap{
            ul{
                gap: 20px;
                display: flex;
                li{
                    a{
                        font-size: 24px;
                        color: var(--color-secondary);
                        transition: var(--transition);
                        &:hover{
                            color: var(--color-hover);
                        }
                    }
                }
            }
        }
    }
}   